# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Test output
.coverage
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python test cache
.pytest_cache/

# Jupyter Notebook checkpoint files
.ipynb_checkpoints/